target/
.frontal-code/
.git/
.github/
.vscode/
assets/
docs/
examples/
extensions/*
!extensions/frontal-code-slack
homebrew/
infrastructure/
scripts/
node_modules/
.env
.env.*
*.md
*.swp
*.swo
.DS_Store
